Repository mym0404/react-native-kakao: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {staged_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {staged_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-format.sh {all_files}
    lint:swift:
      glob: "packages/**/*.{swift}"
      run: bash ./script/swift-format.sh {all_files}
    format:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-format.sh {all_files}

check:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {all_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {all_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {all_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {all_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit


commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

fix(user): fall back to account login after KakaoTalk failure (#119)
  .changeset/large-gifts-repeat.md
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
Due: lint:swift, lint:kotlin

chore: version packages (next)
  .changeset/pre/clean-cats-dance.md
  .changeset/pre/large-gifts-repeat.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none

ci: publish E2E screenshots for PR #121
  e2e/pr-121/e2e-android/01-user.png
  e2e/pr-121/e2e-android/02-share.png
  e2e/pr-121/e2e-android/03-navi.png
  e2e/pr-121/e2e-android/04-social.png
  e2e/pr-121/e2e-android/05-channel.png
  e2e/pr-121/e2e-android/failure.png
  e2e/pr-121/e2e-ios/01-user.png
  e2e/pr-121/e2e-ios/02-share.png
  e2e/pr-121/e2e-ios/03-navi.png
  e2e/pr-121/e2e-ios/04-social.png
  e2e/pr-121/e2e-ios/05-channel.png
Due: none

fix(user): backport KakaoTalk account fallback to v2
  .changeset/plain-years-matter.md
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
Due: lint:swift, lint:kotlin

fix(user): backport KakaoTalk account fallback to v2 (#122)
  .changeset/plain-years-matter.md
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
Due: lint:swift, lint:kotlin

chore: version packages
  .changeset/plain-years-matter.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none

ci: publish E2E screenshots for PR #121
  e2e/pr-121/e2e-android/01-user.png
  e2e/pr-121/e2e-android/02-share.png
  e2e/pr-121/e2e-android/03-navi.png
  e2e/pr-121/e2e-android/04-social.png
  e2e/pr-121/e2e-android/05-channel.png
  e2e/pr-121/e2e-android/failure.png
Due: none

chore: version packages (next) (#121)
  .changeset/pre/clean-cats-dance.md
  .changeset/pre/large-gifts-repeat.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none

chore(codex): defer native setup to manual actions
  .codex/environments/environment.toml
Due: none

chore(codex): remove native preparation actions
  .codex/environments/environment.toml
Due: none

chore: version packages (#123)
  .changeset/plain-years-matter.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none

ci: publish E2E screenshots for PR #125
  e2e/pr-125/e2e-android/00-home.png
  e2e/pr-125/e2e-android/01-user.png
  e2e/pr-125/e2e-android/02-share.png
  e2e/pr-125/e2e-android/03-navi.png
  e2e/pr-125/e2e-android/04-social.png
  e2e/pr-125/e2e-android/05-channel.png
  e2e/pr-125/e2e-ios/00-home.png
  e2e/pr-125/e2e-ios/01-user.png
  e2e/pr-125/e2e-ios/02-share.png
  e2e/pr-125/e2e-ios/03-navi.png
  e2e/pr-125/e2e-ios/04-social.png
  e2e/pr-125/e2e-ios/05-channel.png
Due: none

ci: publish E2E screenshots for PR #124
  e2e/pr-124/e2e-android/00-home.png
  e2e/pr-124/e2e-android/01-user.png
  e2e/pr-124/e2e-android/02-share.png
  e2e/pr-124/e2e-android/03-navi.png
  e2e/pr-124/e2e-android/04-social.png
  e2e/pr-124/e2e-android/05-channel.png
  e2e/pr-124/e2e-ios/00-home.png
  e2e/pr-124/e2e-ios/01-user.png
  e2e/pr-124/e2e-ios/02-share.png
  e2e/pr-124/e2e-ios/03-navi.png
  e2e/pr-124/e2e-ios/04-social.png
  e2e/pr-124/e2e-ios/05-channel.png
Due: none

chore(codex): skip native preparation during worktree setup (#124)
  .codex/environments/environment.toml
Due: none

ci: publish E2E screenshots for PR #126
  e2e/pr-126/e2e-android/00-home.png
  e2e/pr-126/e2e-android/01-user.png
  e2e/pr-126/e2e-android/02-share.png
  e2e/pr-126/e2e-android/03-navi.png
  e2e/pr-126/e2e-android/04-social.png
  e2e/pr-126/e2e-android/05-channel.png
  e2e/pr-126/e2e-ios/00-home.png
  e2e/pr-126/e2e-ios/01-user.png
  e2e/pr-126/e2e-ios/02-share.png
  e2e/pr-126/e2e-ios/03-navi.png
  e2e/pr-126/e2e-ios/04-social.png
  e2e/pr-126/e2e-ios/05-channel.png
Due: none

ci: publish E2E screenshots for PR #126
  e2e/pr-126/e2e-android/00-home.png
  e2e/pr-126/e2e-android/01-user.png
  e2e/pr-126/e2e-android/04-social.png
  e2e/pr-126/e2e-ios/01-user.png
  e2e/pr-126/e2e-ios/02-share.png
  e2e/pr-126/e2e-ios/03-navi.png
  e2e/pr-126/e2e-ios/04-social.png
  e2e/pr-126/e2e-ios/05-channel.png
Due: none

chore(example): upgrade to Expo SDK 57
  .github/workflows/ci.yml
  .yarnrc.yml
  example/AGENTS.md
  example/Gemfile
  example/Gemfile.lock
  example/app.json
  example/metro.config.js
  example/package.json
  package.json
  tsconfig.json
  yarn.lock
Due: lint:js

fix(ios): update v2 Kakao SDK to 2.22.1
  .changeset/solid-otters-relax.md
  packages/core/package.json
Due: none

fix(example): avoid mutating React development props
  example/package.json
  yarn.lock
Due: none

refactor(example): use Expo defaults for app setup
  .github/workflows/ci.yml
  example/AGENTS.md
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  example/src/root.js
  yarn.lock
Due: lint:js

docs: add ADR workflow and Expo 58 decision
  AGENTS.md
  adr/0001-expo-58-config-plugin-support.md
  adr/README.md
Due: none

fix(ci): allow cold iOS driver startup
  .github/workflows/ci.yml
Due: none

ci: publish E2E screenshots for PR #127
  e2e/pr-127/e2e-android/00-home.png
  e2e/pr-127/e2e-android/01-user.png
  e2e/pr-127/e2e-android/02-share.png
  e2e/pr-127/e2e-android/03-navi.png
  e2e/pr-127/e2e-android/04-social.png
  e2e/pr-127/e2e-android/05-channel.png
  e2e/pr-127/e2e-ios/00-home.png
  e2e/pr-127/e2e-ios/01-user.png
  e2e/pr-127/e2e-ios/02-share.png
  e2e/pr-127/e2e-ios/03-navi.png
  e2e/pr-127/e2e-ios/04-social.png
  e2e/pr-127/e2e-ios/05-channel.png
Due: none

ci: publish E2E screenshots for PR #130
  e2e/pr-130/e2e-android/00-home.png
  e2e/pr-130/e2e-android/01-user.png
  e2e/pr-130/e2e-android/02-share.png
  e2e/pr-130/e2e-android/03-navi.png
  e2e/pr-130/e2e-android/04-social.png
  e2e/pr-130/e2e-android/05-channel.png
  e2e/pr-130/e2e-ios/00-home.png
  e2e/pr-130/e2e-ios/01-user.png
  e2e/pr-130/e2e-ios/02-share.png
  e2e/pr-130/e2e-ios/03-navi.png
  e2e/pr-130/e2e-ios/failure.png
Due: none

ci: publish E2E screenshots for PR #127
  e2e/pr-127/e2e-android/03-navi.png
  e2e/pr-127/e2e-ios/02-share.png
  e2e/pr-127/e2e-ios/03-navi.png
  e2e/pr-127/e2e-ios/04-social.png
Due: none

ci: publish E2E screenshots for PR #126
  e2e/pr-126/e2e-android/00-home.png
  e2e/pr-126/e2e-android/01-user.png
  e2e/pr-126/e2e-android/02-share.png
  e2e/pr-126/e2e-android/03-navi.png
  e2e/pr-126/e2e-android/04-social.png
  e2e/pr-126/e2e-android/05-channel.png
  e2e/pr-126/e2e-ios/failure.png
Due: none

chore(example): upgrade to Expo SDK 57 (#127)
  .github/workflows/ci.yml
  .yarnrc.yml
  example/AGENTS.md
  example/Gemfile
  example/Gemfile.lock
  example/app.json
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/react-native.config.js
  example/src/root.js
  package.json
  tsconfig.json
  yarn.lock
Due: lint:js

fix(expo): preserve named URL options callbacks
  packages/core/expo-config-plugin/src/withIos.ts
Due: lint:js, typecheck

docs(expo): explain scene callback routing
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/intro-expo.mdx
Due: none

fix(expo): support scene lifecycle URL callbacks
  .changeset/fifty-showers-sort.md
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/intro-expo.mdx
  packages/core/expo-config-plugin/src/withIos.ts
Due: lint:js, typecheck

fix(ios): align Kakao SPM paths with React Native
  .changeset/fifty-showers-sort.md
  packages/core/ios/kakao-sdk.rb
Due: none

docs: add Korean scene lifecycle setup
  docs/docs/user/intro-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/intro-expo.mdx
Due: none

ci: publish E2E screenshots for PR #126
  e2e/pr-126/e2e-ios/00-home.png
  e2e/pr-126/e2e-ios/01-user.png
  e2e/pr-126/e2e-ios/02-share.png
  e2e/pr-126/e2e-ios/03-navi.png
  e2e/pr-126/e2e-ios/04-social.png
  e2e/pr-126/e2e-ios/05-channel.png
  e2e/pr-126/e2e-ios/failure.png
Due: none

fix(expo): preserve named Swift URL callbacks
  .changeset/fifty-showers-sort.md
  docs/docs/user/intro-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/intro-expo.mdx
  packages/core/expo-config-plugin/src/withIos.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #126
  e2e/pr-126/e2e-android/00-home.png
  e2e/pr-126/e2e-android/01-user.png
  e2e/pr-126/e2e-android/02-share.png
  e2e/pr-126/e2e-android/03-navi.png
  e2e/pr-126/e2e-ios/02-share.png
  e2e/pr-126/e2e-ios/03-navi.png
  e2e/pr-126/e2e-ios/04-social.png
  e2e/pr-126/e2e-ios/05-channel.png
Due: none

fix(ios): update v2 Kakao SDK to 2.22.1 (#128)
  .changeset/solid-otters-relax.md
  packages/core/package.json
Due: none

chore: version packages
  .changeset/solid-otters-relax.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none
