Repository mym0404/react-native-kakao: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {staged_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {staged_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-format.sh {all_files}
    lint:swift:
      glob: "packages/**/*.{swift}"
      run: bash ./script/swift-format.sh {all_files}
    format:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-format.sh {all_files}

check:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {all_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {all_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {all_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {all_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit


commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

ci: fix lefthook glob
  lefthook.yml
Due: none

fix(core): remove redundant second parameter of initialization api
  packages/core/src/index.ts
Due: lint:js, typecheck

chore: ignore .eslintcache from vcs
  .eslintcache
  .gitignore
Due: none

chore: publish [skip ci]
  CHANGELOG.md
  lerna.json
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/map/CHANGELOG.md
  packages/map/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
  yarn.lock
Due: none

chore: update githead
  package.json
  packages/channel/package.json
  packages/core/package.json
  packages/map/package.json
  packages/navi/package.json
  packages/share/package.json
  packages/social/package.json
  packages/user/package.json
  yarn.lock
Due: none

feat(ios): support static framework pod config
  example/package.json
  packages/channel/ios/RNCKakaoChannel.mm
  packages/core/ios/RNCKakaoCore.mm
  packages/map/ios/Component/Map/RNCKakaoMapView.h
  packages/map/ios/Component/Map/RNCKakaoMapView.mm
  packages/navi/ios/RNCKakaoNavi.mm
  packages/share/ios/RNCKakaoShare.mm
  packages/social/ios/RNCKakaoSocial.mm
  packages/user/ios/RNCKakaoUser.mm
  packages/user/ios/RNCKakaoUserUtil.mm
  yarn.lock
Due: lint:objc

fix(share): fix android old arch
  packages/share/android/src/main/java/net/mjstudio/rnkakao/share/RNCKakaoShareModule.kt
Due: lint:kotlin

fix: typo in `login` function parameter 'prompt'
  packages/core/package.json
  packages/user/src/index.ts
Due: lint:js, typecheck

fix: remove unused deps `RNCKakaoUser` in social
  packages/social/RNCKakaoSocial.podspec
Due: none

chore: add reproducible sample repo field into bug template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

style(android): apply ktlint 1.3.0 rullset
  packages/channel/android/src/main/java/net/mjstudio/rnkakao/channel/RNCKakaoChannelModule.kt
  packages/channel/android/src/main/java/net/mjstudio/rnkakao/channel/RNCKakaoChannelPackage.kt
  packages/channel/android/src/newarch/KakaoChannelSpec.kt
  packages/channel/android/src/oldarch/KakaoChannelSpec.kt
  packages/core/android/src/main/java/net/mjstudio/rnkakao/core/RNCKakaoCoreModule.kt
  packages/core/android/src/main/java/net/mjstudio/rnkakao/core/RNCKakaoCorePackage.kt
  packages/core/android/src/main/java/net/mjstudio/rnkakao/core/util/RNCKakaoException.kt
  packages/core/android/src/main/java/net/mjstudio/rnkakao/core/util/RNCKakaoUtil.kt
  packages/core/android/src/newarch/KakaoCoreSpec.kt
  packages/core/android/src/oldarch/KakaoCoreSpec.kt
  packages/map/android/src/main/java/net/mjstudio/rnkakao/map/RNCKakaoMapModule.kt
  packages/map/android/src/main/java/net/mjstudio/rnkakao/map/RNCKakaoMapPackage.kt
  packages/map/android/src/newarch/KakaoMapSpec.kt
  packages/map/android/src/oldarch/KakaoMapSpec.kt
  packages/navi/android/src/main/java/net/mjstudio/rnkakao/navi/RNCKakaoNaviModule.kt
  packages/navi/android/src/main/java/net/mjstudio/rnkakao/navi/RNCKakaoNaviPackage.kt
  packages/navi/android/src/newarch/KakaoNaviSpec.kt
  packages/navi/android/src/oldarch/KakaoNaviSpec.kt
  packages/share/android/src/main/java/net/mjstudio/rnkakao/share/RNCKakaoShareModule.kt
  packages/share/android/src/main/java/net/mjstudio/rnkakao/share/RNCKakaoSharePackage.kt
  packages/share/android/src/main/java/net/mjstudio/rnkakao/share/RNCKakaoShareTemplates.kt
  packages/share/android/src/newarch/KakaoShareSpec.kt
  packages/share/android/src/oldarch/KakaoShareSpec.kt
  packages/social/android/src/main/java/net/mjstudio/rnkakao/social/RNCKakaoSocialModule.kt
  packages/social/android/src/main/java/net/mjstudio/rnkakao/social/RNCKakaoSocialPackage.kt
  packages/social/android/src/newarch/KakaoSocialSpec.kt
  packages/social/android/src/oldarch/KakaoSocialSpec.kt
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserPackage.kt
  packages/user/android/src/newarch/KakaoUserSpec.kt
  packages/user/android/src/oldarch/KakaoUserSpec.kt
Due: lint:kotlin

fix(share): ios: swap mobile execution params fielkd values into string in iOS
  example/src/app/share.tsx
  packages/share/package.json
  packages/share/src/index.ts
  packages/share/src/util/swapMobileExecutionParamsFieldValueIntoStringInIOS.ts
  yarn.lock
Due: lint:js, typecheck

build: bump example project dependencies
  example/package.json
  yarn.lock
Due: none

Update README.md [skip ci]
  README.md
Due: none

chore: remove feature request issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: add discussion template
  .github/DISCUSSION_TEMPLATE/feature-request.yml
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

build: import expo config plugin from expo package not standalone package
  packages/core/expo-config-plugin/src/index.ts
  packages/core/expo-config-plugin/src/withAndroid.ts
  packages/core/expo-config-plugin/src/withIos.ts
  packages/core/package.json
  yarn.lock
Due: lint:js, typecheck

fix: Add missing @ReactMethod
  packages/map/android/src/main/java/net/mjstudio/rnkakao/map/RNCKakaoMapModule.kt
  packages/navi/android/src/main/java/net/mjstudio/rnkakao/navi/RNCKakaoNaviModule.kt
Due: lint:kotlin

fix: Add missing @ReactMethod import
  packages/map/android/src/main/java/net/mjstudio/rnkakao/map/RNCKakaoMapModule.kt
  packages/navi/android/src/main/java/net/mjstudio/rnkakao/navi/RNCKakaoNaviModule.kt
Due: lint:kotlin

docs: update instructions for Expo usage in install guides
  docs/docs/install-android.mdx
  docs/docs/install-ios.mdx
Due: none

chore(readme): add sponsors
  .github/workflows/sponsors.yml
  README.md
Due: none

ci: edit sponsors.yml
  .github/workflows/sponsors.yml
Due: none

chore: update sponspors.yml
  .github/workflows/sponsors.yml
Due: none

chore: update sponspors.ytml
  .github/workflows/sponsors.yml
Due: none

style(ios): objc formatting
  packages/channel/ios/RNCKakaoChannel.mm
  packages/core/ios/RNCKakaoCore.mm
  packages/navi/ios/RNCKakaoNavi.mm
  packages/share/ios/RNCKakaoShare.mm
  packages/social/ios/RNCKakaoSocial.mm
  packages/user/ios/RNCKakaoUser.mm
Due: lint:objc

ci: [skip ci] add token to sponsors.yml
  .github/workflows/sponsors.yml
Due: none

Deploying to main from @ mym0404/react-native-kakao@2d0793b5c60ba99ce21cf9ae7d7affdabe8368fc 🚀
  README.md
Due: none

ci: [skip ci] change sponsors.yml template
  .github/workflows/sponsors.yml
Due: none

ci: [skip ci] update sponsors template
  .github/workflows/sponsors.yml
Due: none

chore: [skip ci] update sponspors 💖
  README.md
Due: none
