Repository mym0404/react-native-kakao: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:swift:
  run: bash ./script/swift-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

chore: unconscious commit 🎲
  lefthook.yml
  packages/social/ios/RNCKakaoSocialManager.swift
  script/swift-format.sh
Due: lint:swift

fix: use correct field name for idType in CalendarTemplate on Android
  packages/share/android/src/main/java/net/mjstudio/rnkakao/share/RNCKakaoShareTemplates.kt
Due: lint:kotlin

chore: bump zx
  package.json
  yarn.lock
Due: none

chore: publish [skip ci]
  CHANGELOG.md
  lerna.json
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
  yarn.lock
Due: none

fix: forward OIDC nonce to native Kakao login
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/android/src/oldarch/KakaoUserSpec.kt
  packages/user/ios/RNCKakaoUser.mm
  packages/user/ios/RNCKakaoUserManager.swift
  packages/user/src/index.ts
  packages/user/src/spec/NativeKakaoUser.ts
Due: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

fix: pin Ruby for iOS CI
  .github/workflows/ci.yml
Due: none

fix: use runner default Xcode
  .github/workflows/ci.yml
Due: none

fix: avoid simulator runtime dependency
  .github/workflows/ci.yml
  script/ci-ios-build.sh
Due: none

fix: ensure matching iOS simulator runtime
  .github/workflows/ci.yml
  script/ci-ios-build.sh
Due: none

fix: stabilize iOS CI toolchain
  .github/workflows/ci.yml
Due: none

fix: move nonce to a top-level login option
  packages/user/src/index.ts
  packages/user/src/index.web.ts
Due: lint:js, typecheck

docs: document nonce login option
  docs/docs/user/login.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/login.mdx
Due: none

Merge pull request #73 from oesnuj/fix/kakao-login-nonce
  docs/docs/user/login.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/login.mdx
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/android/src/oldarch/KakaoUserSpec.kt
  packages/user/ios/RNCKakaoUser.mm
  packages/user/ios/RNCKakaoUserManager.swift
  packages/user/src/index.ts
  packages/user/src/index.web.ts
  packages/user/src/spec/NativeKakaoUser.ts
Due: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

fix: remove docs redirect
  docs/vercel.json
Due: none

chore: manage toolchain with mise
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .nvmrc
  AGENTS.md
  CONTRIBUTING.md
  mise.toml
  package.json
Due: none

chore: manage toolchain with mise (#75)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .nvmrc
  AGENTS.md
  CONTRIBUTING.md
  mise.toml
  package.json
Due: none

feat: verify example menus with agent-device in CI
  .eslintignore
  .github/workflows/ci.yml
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  mise.toml
  package.json
  script/E2E.md
  script/e2e.ts
  tsconfig.json
Due: lint:js, typecheck

docs: use English for repository communication
  .github/workflows/ci.yml
  AGENTS.md
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

fix: allow cold device startup in E2E checks
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

fix: prepare iOS runner before E2E execution
  .github/workflows/ci.yml
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

docs: clarify E2E not-run status
  script/E2E.md
Due: none

ci: align Android E2E with the PoC runtime
  .github/workflows/ci.yml
  script/E2E.md
Due: none

fix: wait for Android package service readiness
  .github/workflows/ci.yml
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

fix: use supported Android software rendering
  .github/workflows/ci.yml
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

fix: enable Android emulator DMA readback in CI
  .github/workflows/ci.yml
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

test: isolate Android emulator DMA capabilities
  .github/workflows/android-emulator-diagnostic.yml
Due: none

fix: keep emulator diagnostic in one shell
  .github/workflows/android-emulator-diagnostic.yml
Due: none

fix: enable shared memory for Android DMA readback
  .github/workflows/android-emulator-diagnostic.yml
  .github/workflows/ci.yml
  script/E2E.md
Due: none

fix: align Expo native libraries for 16 KB Android devices
  .yarn/patches/expo-modules-core-npm-2.3.12-8d14aa8c52.patch
  package.json
  script/E2E.md
  yarn.lock
Due: none

test: accept Android compatibility dialog in E2E
  .yarn/patches/expo-modules-core-npm-2.3.12-8d14aa8c52.patch
  package.json
  script/E2E.md
  script/e2e.ts
  yarn.lock
Due: lint:js, typecheck

ci: cache E2E release builds
  .github/workflows/ci.yml
  script/E2E.md
Due: none

ci: save E2E builds before tests
  .github/workflows/ci.yml
Due: none

refactor(ci): extract E2E report script
  .eslintignore
  .github/workflows/ci.yml
  script/e2e-report.js
Due: lint:js

fix(ci): checkout E2E report script
  .github/workflows/ci.yml
Due: none

ci: run E2E with Debug apps and Metro
  .github/workflows/ci.yml
  script/E2E.md
  script/e2e.ts
Due: lint:js, typecheck

ci: embed E2E screenshots in PR comments
  .github/workflows/ci.yml
  script/e2e-report.js
Due: lint:js

fix(ci): launch Debug E2E through agent-device
  .github/workflows/ci.yml
  script/e2e-report.js
  script/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #79
  e2e/pr-79/e2e-android/failure.png
  e2e/pr-79/e2e-ios/failure.png
Due: none

fix(e2e): handle startup dialogs
  script/e2e.ts
Due: lint:js, typecheck

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: packages/**/*.{h,mm,m,hpp,cpp,c}
  lint:swift: any of: packages/**/*.swift
  lint:kotlin: any of: packages/**/*.kt
  typecheck: any of: *.{ts,tsx}
