Repository mym0404/react-native-kakao: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

lint:js:
  run: yarn eslint --cache --max-warnings=0 {staged_files}

lint:objc:
  run: bash ./script/clang-lint.sh {staged_files}

lint:swift:
  run: bash ./script/swift-lint.sh {staged_files}

lint:kotlin:
  run: bash ./script/ktlint-lint.sh {staged_files}

typecheck:
  run: yarn tsc --noEmit

chore: [skip ci] update sponspors 💖
  README.md
Due: none

fix: followChannel method response in web
  packages/channel/src/index.web.ts
Due: lint:js, typecheck

docs: update TIP in Threading page
  docs/docs/advanced/thread.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/advanced/thread.mdx
Due: none

chore: fix typo
  example/src/app/share.tsx
  packages/share/src/index.ts
Due: lint:js, typecheck

chore: publish [skip ci]
  CHANGELOG.md
  lerna.json
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/map/CHANGELOG.md
  packages/map/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
  yarn.lock
Due: none

chore: bump example app rn, expo version
  example/metro.config.js
  example/package.json
  example/src/app/_layout.tsx
  example/src/component/Btn.tsx
  package.json
  yarn.lock
Due: lint:js, typecheck

feat: remove map package + fix 0.77 android build error
  README.md
  example/metro.config.js
  example/src/app/_layout.tsx
  example/src/app/map.tsx
  packages/channel/ios/RNCKakaoChannel.mm
  packages/channel/src/index.ts
  packages/core/android/src/main/java/net/mjstudio/rnkakao/core/util/RNCKakaoUtil.kt
  packages/map/CHANGELOG.md
  packages/map/LICENSE
  packages/map/README.md
  packages/map/RNCKakaoMap.podspec
  packages/map/android/.editorconfig
  packages/map/android/build.gradle
  packages/map/android/gradle.properties
  packages/map/android/src/main/AndroidManifest.xml
  packages/map/android/src/main/AndroidManifestNew.xml
  packages/map/android/src/main/java/net/mjstudio/rnkakao/map/RNCKakaoMapModule.kt
  packages/map/android/src/main/java/net/mjstudio/rnkakao/map/RNCKakaoMapPackage.kt
  packages/map/android/src/newarch/KakaoMapSpec.kt
  packages/map/android/src/oldarch/KakaoMapSpec.kt
  packages/map/ios/Component/Map/RNCKakaoMapView.h
  packages/map/ios/Component/Map/RNCKakaoMapView.mm
  packages/map/ios/Component/Map/RNCKakaoMapViewManager.mm
  packages/map/ios/NativeModule/RNCKakaoMap.h
  packages/map/ios/NativeModule/RNCKakaoMap.mm
  packages/map/ios/NativeModule/RNCKakaoMapManager.swift
  packages/map/ios/Util/Util.h
  packages/map/package.json
  packages/map/src/component/KakaoMapView.tsx
  packages/map/src/index.ts
  packages/map/src/spec/NativeKakaoMap.ts
  packages/map/src/spec/RNCKakaoMapViewNativeComponent.ts
  packages/map/src/type/type.ts
  packages/map/src/util/Const.ts
  packages/map/src/util/Util.ts
  packages/map/tsconfig.build.json
  packages/map/tsconfig.json
  yarn.lock
Due: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

feat: remove map package + fix 0.77 android build error
  example/app.json
  example/package.json
  packages/core/package.json
  yarn.lock
Due: none

chore: what
  example/src/app/index.tsx
  package.json
  tsconfig.json
  yarn.lock
Due: lint:js, typecheck

chore: publish [skip ci]
  CHANGELOG.md
  lerna.json
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
  yarn.lock
Due: none

chore: publish [skip ci]
  CHANGELOG.md
  babel.config.js
  lerna.json
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
  yarn.lock
Due: lint:js

chore: bump expo 53
  .eslintrc
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/root.js
  package.json
  yarn.lock
Due: lint:js

chore: change codegen config mode from 'all' to 'module'
  packages/channel/package.json
  packages/core/package.json
  packages/navi/package.json
  packages/share/package.json
  packages/social/package.json
  packages/user/package.json
Due: none

feat(expo): support swift AppDelegate from config plugin
  packages/core/expo-config-plugin/src/withIos.ts
Due: lint:js, typecheck

fix(web): return type of `user - me()`
  packages/user/src/index.ts
  packages/user/src/index.web.ts
Due: lint:js, typecheck

ci(ios): run build ios script with latest stable xcode
  .github/workflows/ci.yml
Due: none

ci: remove stale check
  .github/workflows/stale.yml
Due: none

chore: migrate from rnkakao.dev to rnkakao.mjstudio.net domain
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  docs/docusaurus.config.ts
  package.json
  packages/channel/README.md
  packages/channel/package.json
  packages/core/README.md
  packages/core/package.json
  packages/navi/README.md
  packages/navi/package.json
  packages/share/README.md
  packages/share/package.json
  packages/social/README.md
  packages/social/package.json
  packages/user/README.md
  packages/user/package.json
Due: lint:js, typecheck

feat: add Vercel redirect configuration for domain migration
  docs/vercel.json
Due: none

feat: add Umami analytics and improve TypeScript types in docs
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: lint:js, typecheck

fix(android): Remove empty <activity/> injection in config plugin
  packages/core/expo-config-plugin/src/withAndroid.ts
Due: lint:js, typecheck

fix(android): use reactApplication.currentActivity
  packages/social/android/src/main/java/net/mjstudio/rnkakao/social/RNCKakaoSocialModule.kt
Due: lint:kotlin

chore: use corepack yarn version
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
Due: none

fix(android): use reactApplicationContext.currentActivity
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
Due: lint:kotlin

ci: enable corepack at the shared ci setup script
  .github/actions/setup/action.yml
Due: none

ci(ios): fix xcode-version to "26.0"
  .github/workflows/ci.yml
Due: none

fix: pass serverCallbackArgs when templateId is not provided
  packages/share/ios/RNCKakaoShareManager.swift
Due: lint:swift

chore: fix ktlint version to 1.8.0 and format files
  .github/workflows/ci.yml
  packages/core/android/src/main/java/net/mjstudio/rnkakao/core/util/RNCKakaoUtil.kt
  packages/share/android/src/main/java/net/mjstudio/rnkakao/share/RNCKakaoShareModule.kt
Due: lint:kotlin

chore: bump lerna
  package.json
  yarn.lock
Due: none

docs: add hierarchical AGENTS guides for native modules
  AGENTS.md
  example/AGENTS.md
  packages/AGENTS.md
  packages/core/AGENTS.md
  packages/share/AGENTS.md
  packages/user/AGENTS.md
Due: none

chore: update node version to v22
  .nvmrc
Due: none

fix: print swift lint target file names
  script/swift-lint.sh
Due: none

Path conditions:
  lint:js: any of: *.{js,ts,jsx,tsx}
  lint:objc: any of: packages/**/*.{h,mm,m,hpp,cpp,c}
  lint:swift: any of: packages/**/*.swift
  lint:kotlin: any of: packages/**/*.kt
  typecheck: any of: *.{ts,tsx}
