Repository mym0404/react-native-kakao: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {staged_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {staged_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-format.sh {all_files}
    lint:swift:
      glob: "packages/**/*.{swift}"
      run: bash ./script/swift-format.sh {all_files}
    format:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-format.sh {all_files}

check:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {all_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {all_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {all_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {all_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit


commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

chore: update agent-device to 0.21.15 (#110)
  mise.toml
Due: none

chore: add Codex environment setup (#111)
  .codex/environments/environment.toml
  example/package.json
Due: none

ci: publish E2E screenshots for PR #110
  e2e/pr-110/e2e-android/failure.png
  e2e/pr-110/e2e-ios/00-home.png
  e2e/pr-110/e2e-ios/01-user.png
  e2e/pr-110/e2e-ios/02-share.png
  e2e/pr-110/e2e-ios/03-navi.png
  e2e/pr-110/e2e-ios/04-social.png
  e2e/pr-110/e2e-ios/05-channel.png
Due: none

chore(example): remove Expo dev client
  example/package.json
  yarn.lock
Due: none

chore(example): remove Expo dev client (#112)
  example/package.json
  yarn.lock
Due: none

ci: publish E2E screenshots for PR #111
  e2e/pr-111/e2e-android/00-home.png
  e2e/pr-111/e2e-android/01-user.png
  e2e/pr-111/e2e-android/02-share.png
  e2e/pr-111/e2e-android/03-navi.png
  e2e/pr-111/e2e-android/04-social.png
  e2e/pr-111/e2e-android/05-channel.png
  e2e/pr-111/e2e-ios/00-home.png
  e2e/pr-111/e2e-ios/01-user.png
  e2e/pr-111/e2e-ios/02-share.png
  e2e/pr-111/e2e-ios/03-navi.png
  e2e/pr-111/e2e-ios/04-social.png
  e2e/pr-111/e2e-ios/05-channel.png
Due: none

ci: publish E2E screenshots for PR #112
  e2e/pr-112/e2e-android/00-home.png
  e2e/pr-112/e2e-android/01-user.png
  e2e/pr-112/e2e-android/02-share.png
  e2e/pr-112/e2e-android/03-navi.png
  e2e/pr-112/e2e-android/04-social.png
  e2e/pr-112/e2e-android/05-channel.png
  e2e/pr-112/e2e-ios/00-home.png
  e2e/pr-112/e2e-ios/01-user.png
  e2e/pr-112/e2e-ios/02-share.png
  e2e/pr-112/e2e-ios/03-navi.png
  e2e/pr-112/e2e-ios/04-social.png
  e2e/pr-112/e2e-ios/05-channel.png
Due: none

fix: run Codex environment commands with mise
  .codex/environments/environment.toml
Due: none

fix: use pinned Yarn in Codex environment setup (#113)
  .codex/environments/environment.toml
Due: none

ci: remove v2 E2E checks
  .eslintignore
  .github/workflows/ci.yml
  AGENTS.md
  CONTRIBUTING.md
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  mise.toml
  package.json
  script/E2E.md
  script/ci-ios-build.sh
  script/e2e-report.js
  script/e2e.ts
Due: lint:js, typecheck

feat: run release E2E with CI build caches
  .github/workflows/ci.yml
  example/app.json
  mise.toml
  script/e2e-build.ts
  script/e2e-log.ts
  script/e2e.ts
Due: lint:js, typecheck

chore: backport Codex environment setup to v2
  .codex/environments/environment.toml
Due: none

refactor: group E2E scripts under script/e2e
  .github/workflows/ci.yml
  package.json
  script/e2e/e2e-build.ts
  script/e2e/e2e-log.ts
  script/e2e/e2e-report.js
  script/e2e/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #113
  e2e/pr-113/e2e-android/00-home.png
  e2e/pr-113/e2e-android/01-user.png
  e2e/pr-113/e2e-android/02-share.png
  e2e/pr-113/e2e-android/03-navi.png
  e2e/pr-113/e2e-android/04-social.png
  e2e/pr-113/e2e-android/05-channel.png
  e2e/pr-113/e2e-ios/00-home.png
  e2e/pr-113/e2e-ios/01-user.png
  e2e/pr-113/e2e-ios/02-share.png
  e2e/pr-113/e2e-ios/03-navi.png
  e2e/pr-113/e2e-ios/04-social.png
  e2e/pr-113/e2e-ios/05-channel.png
Due: none

chore: backport Codex environment setup to v2 (#116)
  .codex/environments/environment.toml
Due: none

ci: remove v2 E2E checks (#114)
  .eslintignore
  .github/workflows/ci.yml
  AGENTS.md
  CONTRIBUTING.md
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  mise.toml
  package.json
  script/E2E.md
  script/ci-ios-build.sh
  script/e2e-report.js
  script/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #116
  e2e/pr-116/e2e-android/00-home.png
  e2e/pr-116/e2e-android/01-user.png
  e2e/pr-116/e2e-android/02-share.png
  e2e/pr-116/e2e-android/03-navi.png
  e2e/pr-116/e2e-android/04-social.png
  e2e/pr-116/e2e-android/05-channel.png
  e2e/pr-116/e2e-ios/00-home.png
  e2e/pr-116/e2e-ios/01-user.png
  e2e/pr-116/e2e-ios/02-share.png
  e2e/pr-116/e2e-ios/03-navi.png
  e2e/pr-116/e2e-ios/04-social.png
  e2e/pr-116/e2e-ios/05-channel.png
Due: none

fix: remove example animations and shorten E2E waits
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  script/e2e/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #115
  e2e/pr-115/e2e-android/00-home.png
  e2e/pr-115/e2e-android/01-user.png
  e2e/pr-115/e2e-android/02-share.png
  e2e/pr-115/e2e-android/03-navi.png
  e2e/pr-115/e2e-android/04-social.png
  e2e/pr-115/e2e-android/05-channel.png
  e2e/pr-115/e2e-ios/00-home.png
  e2e/pr-115/e2e-ios/01-user.png
  e2e/pr-115/e2e-ios/02-share.png
  e2e/pr-115/e2e-ios/03-navi.png
  e2e/pr-115/e2e-ios/04-social.png
  e2e/pr-115/e2e-ios/05-channel.png
Due: none

fix: adjust example safe area and status bar
  example/src/app/_layout.tsx
  example/src/app/user.tsx
Due: lint:js, typecheck

refactor: Remove unused safe area inset
  example/src/app/_layout.tsx
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #115
  e2e/pr-115/e2e-ios/00-home.png
  e2e/pr-115/e2e-ios/01-user.png
  e2e/pr-115/e2e-ios/02-share.png
  e2e/pr-115/e2e-ios/03-navi.png
  e2e/pr-115/e2e-ios/04-social.png
  e2e/pr-115/e2e-ios/05-channel.png
Due: none

Use Release apps for E2E with CI build caches (#115)
  .github/workflows/ci.yml
  example/app.json
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  example/src/app/user.tsx
  mise.toml
  package.json
  script/e2e/e2e-build.ts
  script/e2e/e2e-log.ts
  script/e2e/e2e-report.js
  script/e2e/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #117
  e2e/pr-117/e2e-android/failure.png
  e2e/pr-117/e2e-ios/00-home.png
  e2e/pr-117/e2e-ios/01-user.png
  e2e/pr-117/e2e-ios/02-share.png
  e2e/pr-117/e2e-ios/03-navi.png
  e2e/pr-117/e2e-ios/04-social.png
  e2e/pr-117/e2e-ios/05-channel.png
Due: none

fix: dismiss Android compatibility dialog in Maestro E2E
  script/e2e/menus.android.yaml
Due: none

refactor: switch example E2E to Maestro
  .github/workflows/ci.yml
  mise.toml
  script/e2e/e2e-report.js
  script/e2e/e2e.ts
  script/e2e/menus.android.yaml
  script/e2e/menus.ios.yaml
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #117
  e2e/pr-117/e2e-android/00-home.png
  e2e/pr-117/e2e-android/01-user.png
  e2e/pr-117/e2e-android/02-share.png
  e2e/pr-117/e2e-android/03-navi.png
  e2e/pr-117/e2e-android/04-social.png
  e2e/pr-117/e2e-android/05-channel.png
  e2e/pr-117/e2e-android/failure.png
  e2e/pr-117/e2e-ios/01-user.png
  e2e/pr-117/e2e-ios/02-share.png
  e2e/pr-117/e2e-ios/03-navi.png
  e2e/pr-117/e2e-ios/04-social.png
  e2e/pr-117/e2e-ios/05-channel.png
Due: none

refactor: switch example E2E to Maestro (#117)
  .github/workflows/ci.yml
  mise.toml
  script/e2e/e2e-report.js
  script/e2e/e2e.ts
  script/e2e/menus.android.yaml
  script/e2e/menus.ios.yaml
Due: lint:js, typecheck

fix(android): ship Kakao consumer R8 rules
  .changeset/clean-cats-dance.md
  docs/docs/install-android.mdx
  docs/docs/install-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-android.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-expo.mdx
  packages/core/android/build.gradle
  packages/core/android/consumer-rules.pro
Due: none

fix(user): fall back to account login after KakaoTalk failure
  .changeset/large-gifts-repeat.md
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
Due: lint:swift, lint:kotlin

ci: publish E2E screenshots for PR #120
  e2e/pr-120/e2e-android/00-home.png
  e2e/pr-120/e2e-android/01-user.png
  e2e/pr-120/e2e-android/02-share.png
  e2e/pr-120/e2e-android/03-navi.png
  e2e/pr-120/e2e-android/04-social.png
  e2e/pr-120/e2e-android/05-channel.png
  e2e/pr-120/e2e-ios/00-home.png
  e2e/pr-120/e2e-ios/01-user.png
  e2e/pr-120/e2e-ios/02-share.png
  e2e/pr-120/e2e-ios/03-navi.png
  e2e/pr-120/e2e-ios/04-social.png
  e2e/pr-120/e2e-ios/05-channel.png
Due: none

test(user): cover login fallback in device E2E
  .github/workflows/ci.yml
  example/src/app/index.tsx
  example/src/app/login-e2e.tsx
  packages/user/android/__fixtures__/net/mjstudio/rnkakao/user/RNCKakaoUserLoginE2E.kt
  packages/user/android/build.gradle
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
  packages/user/ios/__fixtures__/RNCKakaoUserLoginE2E.swift
  script/e2e/e2e-build.ts
  script/e2e/e2e-report.js
  script/e2e/login-fallback.yaml
  script/e2e/menus.android.yaml
  script/e2e/menus.ios.yaml
Due: lint:js, lint:swift, lint:kotlin, typecheck

ci: publish E2E screenshots for PR #119
  e2e/pr-119/e2e-ios/00-home.png
  e2e/pr-119/e2e-ios/01-user.png
  e2e/pr-119/e2e-ios/02-share.png
  e2e/pr-119/e2e-ios/03-navi.png
  e2e/pr-119/e2e-ios/04-social.png
  e2e/pr-119/e2e-ios/05-channel.png
Due: none

fix(android): ship Kakao consumer R8 rules (#120)
  .changeset/clean-cats-dance.md
  docs/docs/install-android.mdx
  docs/docs/install-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-android.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-expo.mdx
  packages/core/android/build.gradle
  packages/core/android/consumer-rules.pro
Due: none

chore: version packages (next)
  .changeset/pre/clean-cats-dance.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none

ci: publish E2E screenshots for PR #121
  e2e/pr-121/e2e-android/00-home.png
  e2e/pr-121/e2e-android/01-user.png
  e2e/pr-121/e2e-android/02-share.png
  e2e/pr-121/e2e-android/03-navi.png
  e2e/pr-121/e2e-android/04-social.png
  e2e/pr-121/e2e-android/05-channel.png
  e2e/pr-121/e2e-ios/00-home.png
  e2e/pr-121/e2e-ios/01-user.png
  e2e/pr-121/e2e-ios/02-share.png
  e2e/pr-121/e2e-ios/03-navi.png
  e2e/pr-121/e2e-ios/04-social.png
  e2e/pr-121/e2e-ios/05-channel.png
Due: none

refactor(user): remove synthetic login E2E harness
  .github/workflows/ci.yml
  example/src/app/index.tsx
  example/src/app/login-e2e.tsx
  packages/user/android/__fixtures__/net/mjstudio/rnkakao/user/RNCKakaoUserLoginE2E.kt
  packages/user/android/build.gradle
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
  packages/user/ios/__fixtures__/RNCKakaoUserLoginE2E.swift
  script/e2e/e2e-build.ts
  script/e2e/e2e-report.js
  script/e2e/login-fallback.yaml
  script/e2e/menus.android.yaml
  script/e2e/menus.ios.yaml
Due: lint:js, lint:swift, lint:kotlin, typecheck

ci: publish E2E screenshots for PR #119
  e2e/pr-119/e2e-android/00-home.png
  e2e/pr-119/e2e-android/01-user.png
  e2e/pr-119/e2e-android/02-share.png
  e2e/pr-119/e2e-android/03-navi.png
  e2e/pr-119/e2e-android/04-social.png
  e2e/pr-119/e2e-android/05-channel.png
  e2e/pr-119/e2e-ios/00-home.png
  e2e/pr-119/e2e-ios/01-user.png
  e2e/pr-119/e2e-ios/02-share.png
  e2e/pr-119/e2e-ios/03-navi.png
  e2e/pr-119/e2e-ios/04-social.png
  e2e/pr-119/e2e-ios/05-channel.png
Due: none
