Repository mym0404/react-native-kakao: changes, and which lefthook commands are due for each by the changed paths.
All: lint:js, lint:objc, lint:swift, lint:kotlin, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {staged_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {staged_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {staged_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {staged_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit

format:
  parallel: true
  commands:
    format:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-format.sh {all_files}
    lint:swift:
      glob: "packages/**/*.{swift}"
      run: bash ./script/swift-format.sh {all_files}
    format:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-format.sh {all_files}

check:
  parallel: true
  commands:
    lint:js:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn eslint --cache --max-warnings=0 {all_files}
    lint:objc:
      glob: "packages/**/*.{h,mm,m,hpp,cpp,c}"
      run: bash ./script/clang-lint.sh {all_files}
    lint:swift:
      glob: "packages/**/*.swift"
      run: bash ./script/swift-lint.sh {all_files}
    lint:kotlin:
      glob: "packages/**/*.kt"
      run: bash ./script/ktlint-lint.sh {all_files}
    typecheck:
      glob: "*.{ts,tsx}"
      run: yarn tsc --noEmit


commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit

ci: publish E2E screenshots for PR #79
  e2e/pr-79/e2e-android/failure.png
  e2e/pr-79/e2e-ios/failure.png
Due: none

fix(e2e): accept system startup alerts
  script/e2e.ts
Due: lint:js, typecheck

fix(e2e): allow iOS runner startup
  script/e2e.ts
Due: lint:js, typecheck

fix(e2e): dismiss Expo developer menu
  script/e2e.ts
Due: lint:js, typecheck

fix(e2e): close Expo developer menu
  script/e2e.ts
Due: lint:js, typecheck

fix(e2e): disable Expo onboarding
  script/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #79
  e2e/pr-79/e2e-android/00-home.png
  e2e/pr-79/e2e-android/01-user.png
  e2e/pr-79/e2e-android/02-share.png
  e2e/pr-79/e2e-android/03-navi.png
  e2e/pr-79/e2e-android/04-social.png
  e2e/pr-79/e2e-android/05-channel.png
  e2e/pr-79/e2e-ios/failure.png
Due: none

fix(e2e): open iOS development client
  script/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #79
  e2e/pr-79/e2e-android/00-home.png
  e2e/pr-79/e2e-android/01-user.png
  e2e/pr-79/e2e-android/02-share.png
  e2e/pr-79/e2e-android/03-navi.png
  e2e/pr-79/e2e-android/04-social.png
  e2e/pr-79/e2e-android/05-channel.png
  e2e/pr-79/e2e-android/failure.png
  e2e/pr-79/e2e-ios/failure.png
Due: none

fix(e2e): launch iOS app without system prompt
  script/e2e.ts
Due: lint:js, typecheck

ci: publish E2E screenshots for PR #79
  e2e/pr-79/e2e-android/00-home.png
  e2e/pr-79/e2e-android/01-user.png
  e2e/pr-79/e2e-android/02-share.png
  e2e/pr-79/e2e-android/03-navi.png
  e2e/pr-79/e2e-android/04-social.png
  e2e/pr-79/e2e-android/05-channel.png
  e2e/pr-79/e2e-android/failure.png
  e2e/pr-79/e2e-ios/00-home.png
  e2e/pr-79/e2e-ios/01-user.png
  e2e/pr-79/e2e-ios/02-share.png
  e2e/pr-79/e2e-ios/03-navi.png
  e2e/pr-79/e2e-ios/04-social.png
  e2e/pr-79/e2e-ios/05-channel.png
  e2e/pr-79/e2e-ios/failure.png
Due: none

feat: verify example menus with agent-device in CI (#79)
  .eslintignore
  .github/workflows/ci.yml
  AGENTS.md
  example/src/app/_layout.tsx
  example/src/app/index.tsx
  mise.toml
  package.json
  script/E2E.md
  script/e2e-report.js
  script/e2e.ts
  tsconfig.json
Due: lint:js, typecheck

docs: remove assistant response language restriction
  AGENTS.md
Due: none

docs: remove assistant response language restriction (#80)
  AGENTS.md
Due: none

feat!: upgrade Kakao SDKs and integrate iOS SPM
  docs/docs/install-android.mdx
  docs/docs/install-expo.mdx
  docs/docs/install-ios.mdx
  docs/docs/social/select-talk-friends.mdx
  docs/docs/user/login.mdx
  docs/docs/user/profile.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-android.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-ios.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/social/select-talk-friends.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/login.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/user/profile.mdx
  packages/channel/RNCKakaoChannel.podspec
  packages/core/RNCKakaoCore.podspec
  packages/core/ios/kakao-sdk.rb
  packages/core/package.json
  packages/navi/RNCKakaoNavi.podspec
  packages/share/RNCKakaoShare.podspec
  packages/social/RNCKakaoSocial.podspec
  packages/social/android/src/main/java/net/mjstudio/rnkakao/social/RNCKakaoSocialModule.kt
  packages/social/ios/RNCKakaoSocialManager.swift
  packages/social/src/index.web.ts
  packages/social/src/spec/NativeKakaoSocial.ts
  packages/user/RNCKakaoUser.podspec
  packages/user/android/src/main/java/net/mjstudio/rnkakao/user/RNCKakaoUserModule.kt
  packages/user/ios/RNCKakaoUserManager.swift
  packages/user/src/index.ts
  script/test-kakao-spm.rb
Due: lint:js, lint:swift, lint:kotlin, typecheck

fix: audit SDK integration and clarify compatibility
  README.md
  docs/docs/install-android.mdx
  docs/docs/install-expo.mdx
  docs/docs/install-ios.mdx
  docs/docs/intro.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-android.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-ios.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/intro.mdx
  packages/core/ios/kakao-sdk.rb
  packages/social/android/src/main/java/net/mjstudio/rnkakao/social/RNCKakaoSocialModule.kt
  script/test-kakao-spm.rb
Due: lint:kotlin

docs: simplify setup and migration guidance
  README.md
  docs/docs/install-android.mdx
  docs/docs/install-expo.mdx
  docs/docs/install-ios.mdx
  docs/docs/intro.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-android.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-expo.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/install-ios.mdx
  docs/i18n/en/docusaurus-plugin-content-docs/current/intro.mdx
Due: none

refactor(ios): simplify podspec dependency setup
  packages/channel/RNCKakaoChannel.podspec
  packages/core/RNCKakaoCore.podspec
  packages/navi/RNCKakaoNavi.podspec
  packages/share/RNCKakaoShare.podspec
  packages/social/RNCKakaoSocial.podspec
  packages/user/RNCKakaoUser.podspec
  script/test-kakao-spm.rb
Due: none

chore: replace lerna with yarn and changesets
  .changeset/README.md
  .changeset/bright-kakao-release.md
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  docs/package.json
  example/package.json
  example/tsconfig.json
  lerna.json
  package.json
  packages/channel/README.md
  packages/channel/package.json
  packages/core/README.md
  packages/core/package.json
  packages/navi/README.md
  packages/navi/package.json
  packages/share/README.md
  packages/share/package.json
  packages/social/README.md
  packages/social/package.json
  packages/user/README.md
  packages/user/package.json
  script/publish.sh
  script/release-check.mjs
  script/release-check.test.mjs
  script/remove-web-declaration-files.mjs
  script/version-prerelease.sh
  script/version.sh
  yarn.lock
Due: none

chore: simplify release branch checks
  .github/workflows/ci.yml
  .github/workflows/release.yml
  script/release-check.mjs
  script/release-check.test.mjs
Due: none

fix: validate every package release version
  .github/workflows/release.yml
Due: none

chore: replace lerna with yarn and changesets (#82)
  .changeset/README.md
  .changeset/bright-kakao-release.md
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .yarnrc.yml
  CONTRIBUTING.md
  README.md
  docs/package.json
  example/package.json
  example/tsconfig.json
  lerna.json
  package.json
  packages/channel/README.md
  packages/channel/package.json
  packages/core/README.md
  packages/core/package.json
  packages/navi/README.md
  packages/navi/package.json
  packages/share/README.md
  packages/share/package.json
  packages/social/README.md
  packages/social/package.json
  packages/user/README.md
  packages/user/package.json
  script/publish.sh
  script/remove-web-declaration-files.mjs
  script/version-prerelease.sh
  script/version.sh
  yarn.lock
Due: none

chore: initialize next prereleases
  .changeset/config.json
  .changeset/pre.json
Due: none

ci: warm XCTest before checking the first screen
  script/e2e.ts
Due: lint:js, typecheck

ci: align simulator runtime and screen wait budgets
  .github/workflows/ci.yml
  script/e2e.ts
Due: lint:js, typecheck

ci: align iOS runtime and screen wait budgets (#84)
  .github/workflows/ci.yml
  script/e2e.ts
Due: lint:js, typecheck

ci: bound cache hashes to workspace manifests
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

chore: version packages
  .changeset/bright-kakao-release.md
  packages/channel/CHANGELOG.md
  packages/channel/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/navi/CHANGELOG.md
  packages/navi/package.json
  packages/share/CHANGELOG.md
  packages/share/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/user/CHANGELOG.md
  packages/user/package.json
Due: none

chore: move prereleases to main and stable releases to v2
  .changeset/pre.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

docs: clarify backport changesets and version conflicts
  CONTRIBUTING.md
Due: none

chore: configure v2 stable release state
  .changeset/config.json
  .changeset/pre.json
Due: none

chore: move prereleases to main and stable releases to v2 (#87)
  .changeset/pre.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none

chore: initialize v2 stable releases (#88)
  .changeset/config.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: none
